<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel Planner</title>
  </head>

  <body>
    <h1 class="header">Travel Planner</h1>

    <div id="form">
      <h2 class="header">Add Trip</h2>
      <div>
        <div>
          <div class="holder city">
            <label for="city">Enter city name here</label>
            <input type="text" id="city" placeholder="enter city code here" />
          </div>
          <div class="holder feel">
            <label for="feelings">Date</label>
            <input type="date" id="travelDate" name="travelDate" min="" />
          </div>
          <button id="Add">Add</button>
        </div>
      </div>
    </div>

    <div id="trips"></div>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
