<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="holder headline">Travel Planner</div>
      <div>
        <div class="holder city">
          <label for="city">Enter city name here</label>
          <input type="text" id="city" placeholder="enter city code here" />
        </div>
        <div class="holder feel">
          <label for="feelings">Date</label>
          <input type="date" id="travelDate" name="travelDate" min="" />
          <button id="Add" type="submit">Add</button>
        </div>
      </div>
    </div>

    <div id="trips"></div>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
